h1{
  text-align: center;
  background-color: pink;
  color: blueviolet;
  border-radius: 20px;
}
button{
  margin: 20px;
  width: 100px;
  height: 50px;
  border-radius: 20px;
}
.App{
  text-align: center;
}
body{
  background-color: rgb(197, 137, 192);
}